:root {
  --dark-flow: hsl(164,74%,49%);
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-purple: hsl(262, 100%, 8%);
  --dark-desaturated: hsl(240, 1%, 19%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 30%);
  --dark-green: #008000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: var(--dark-green);
  background-image: url("../img/bg-pattern-top.svg"), url("../img/bg-pattern-bottom.svg");
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  background-repeat: no-repeat, no-repeat;
  font-family: "Kumbh Sans", sans-serif;
}

.flex {
  align-items: flex-start;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  height: 95vh;
  padding-top: 50px;
}

article {
  margin: 10px;
}

/* CARD COVER */
.card-cover {
  background-color: white;
  border: 3px solid white;
  border-radius: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 326px;
  /*transform: rotateY(180deg);*/
}
.card-cover-image-header {
  background-color: white;
  border: 0px solid white;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
  display: block;
  height: 145px;
  overflow: hidden;
  width: 326px;
}
.card-cover-body {
  align-items: center;
  border-bottom: 1px solid hsl(272, 63%, 46%);
  display: flex;
  flex-direction: column;
  height: 270px;
}
.card-cover-body-img {
  border: 10px solid white;
  border-radius: 50%;
  background-image: url("../img/cards/presentacion-back.jpg");
  background-color: white;
  /*box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);*/
  height: 200px;
  margin-top: -105px;
  width: 200px;
}
.card-cover-body-title {
  font-size: 1.8rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2rem;
  text-align: center;
  text-transform: initial;
}
.card-cover-body-title span {
  color: var(--dark-gray);
  font-weight: 400;
}
.card-cover-body-text {
  color: var(--dark-cyan);
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1rem;
  text-align: center;
  text-transform: capitalize;
}
.card-cover-body-category {
  color: var(--dark-very-desaturated);
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.card-cover-body-question {
  color: black;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 3rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 3rem;
  text-align: center;
  text-transform: initial;
}
.card-cover-footer {
  display: flex;
  justify-content: space-around;
}
.card-cover-footer-social {
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
}
.card-cover-footer-social p {
  letter-spacing: 1px;
}
.card-cover-footer-button {
  background-color: #f0f0f0;
  /*background-image: url("../img/cards/presentacion-back.jpg");*/
  /*border-radius: 10px;*/
  /*box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);*/
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 15px;
  text-align: center;
}
.card-cover-footer-button-off:hover {
  background-color: #3C00A8;
  color: white;
  cursor: pointer;
}
button {
  color: white;
  font-size: 1rem;
  background-color: #7b2cbf;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  border: 0px solid var(--dark-cyan);
  border-radius: 5px;
  padding: 10px 15px;
}
button:hover {
  color: white;
  background-color: black;
  border: 0px solid #555555;
}
.card-comentario {
  color: #aaaaaa;
  margin: 10px 0px 0px 0px;
}

/* CARD BACKCOVER */
.card-backcover {
  align-items: center;
  border-bottom: 0px solid rgba(153, 153, 153, 0.383);
  display: flex;
  flex-direction: column;
  max-height: 495px;
  width: 326px;
}
.card-backcover-image-back {
  background-color: white;
  border: 10px solid white;
  border-radius: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  height: 495px;
  overflow: hidden;
  width: 326px;
}

/* EFECTO PARPADEANDO */
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
  100% { opacity: 1.0; }
}
@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
  100% { opacity: 1.0; }
}
@keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
  100% { opacity: 1.0; }
}

/* MEDIA - RESPONSIVE */
@media all and (max-width: 768px) {
  .card-backcover {
    display: none;
  }
}

.info-footer {
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
/*# sourceMappingURL=estilos.css.map */